{
  "extends": "@antfu",
  "rules": {
    "no-only-tests/no-only-tests": "off",
    // prefer global Buffer to not initialize the whole module
    "n/prefer-global/buffer": "off",
    "@typescript-eslint/no-invalid-this": "off",
    "@typescript-eslint/quotes": ["error", "single", {
      "allowTemplateLiterals": true
    }],
    "no-restricted-imports": [
      "error",
      {
        "paths": ["path"]
      }
    ],
    "no-empty-pattern": "off",
    "import/no-named-as-default": "off",
    "no-cond-assign": "off"
  },
  "overrides": [
    {
      "files": "packages/**/*.*",
      "rules": {
        "no-restricted-imports": [
          "error",
          {
            "paths": ["vitest", "path"]
          }
        ]
      }
    },
    {
      // these files define vitest as peer dependency
      "files": "packages/{coverage-*,ui,browser,web-worker}/**/*.*",
      "rules": {
        "no-restricted-imports": [
          "error",
          {
            "paths": ["path"]
          }
        ]
      }
    },
    {
      "files": ["docs/**", "packages/web-worker/**", "test/web-worker/**"],
      "rules": {
        "no-restricted-globals": "off",
        "import/first": "off"
      }
    },
    {
      "files": ["packages/vite-node/**"],
      "rules": {
        // false positive on "exports" variable
        "antfu/no-cjs-exports": "off"
      }
    }
  ]
}
