logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lib-cov
coverage
!**/integrations/coverage
node_modules
.env
.cache
dist
.idea
.vite-node
ltex*
.DS_Store
bench/test/*/*/
**/benchmark/bench.json
**/browser/browser.json
cypress/videos
cypress/downloads
cypress/screenshots
packages/ui/cypress/videos
packages/ui/cypress/downloads
packages/ui/cypress/screenshots
docs/public/user-avatars
docs/public/sponsors
.eslintcache
docs/.vitepress/cache/
!test/cwd/**/.cache
