:root {
  --color-text-light: #000;
  --color-text-dark: #ddd;
  --color-text: var(--color-text-light);
  --background-color: white;
  --anchor-color: #6b38fb;
}

html.dark {
  --color-text: var(--color-text-dark);
  --background-color: rgba(107, 114, 128, 0.05);
  --anchor-color: #2fa3ff;
  color-scheme: dark;
}
html,
body {
  height: 100%;
  font-family: "Readex Pro", sans-serif;
  scroll-behavior: smooth;
  color: var(--color-text);
  background-color: var(--background-color);
  padding: 0;
  margin: 0;
}
.small { font-size: 12px; }
*, *:after, *:before {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
h1 { font-size: 20px; margin: 0;}
h2 { font-size: 14px; }
pre {
  font: 12px/1.4 Consolas, "Liberation Mono", Menlo, Courier, monospace;
  margin: 0;
  padding: 0;
  -moz-tab-size: 2;
  -o-tab-size:  2;
  tab-size: 2;
}
a { color:var(--anchor-color); text-decoration:none; }
a:hover { text-decoration:underline; }
.strong { font-weight: bold; }
.space-top1 { padding: 10px 0 0 0; }
.pad2y { padding: 20px 0; }
.pad1y { padding: 10px 0; }
.pad2x { padding: 0 20px; }
.pad2 { padding: 20px; }
.pad1 { padding: 10px; }
.space-left2 { padding-left:55px; }
.space-right2 { padding-right:20px; }
.center { text-align:center; }
.clearfix { display:block; }
.clearfix:after {
  content:'';
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.fl { float: left; }
@media only screen and (max-width:640px) {
  .col3 { width:100%; max-width:100%; }
  .hide-mobile { display:none!important; }
}

.quiet {
  color: var(--color-text);
  opacity: 0.65;
}

.fraction {
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 10px;
  color: #555;
  background: #E8E8E8;
  padding: 4px 5px;
  border-radius: 3px;
  vertical-align: middle;
}

div.path a:link, div.path a:visited { color: #333; }
table.coverage {
  border-collapse: collapse;
  margin: 10px 0 0 0;
  padding: 0;
}

table.coverage td {
  margin: 0;
  padding: 0;
  vertical-align: top;
}
table.coverage td.line-count {
  text-align: right;
  padding: 0 5px 0 20px;
}
table.coverage td.line-coverage {
  text-align: right;
  padding-right: 10px;
  min-width:20px;
}

table.coverage td span.cline-any {
  display: inline-block;
  padding: 0 5px;
  width: 100%;
}
.missing-if-branch {
  display: inline-block;
  margin-right: 5px;
  border-radius: 3px;
  position: relative;
  padding: 0 4px;
  background: #333;
  color: yellow;
}

.skip-if-branch {
  display: none;
  margin-right: 10px;
  position: relative;
  padding: 0 4px;
  background: #ccc;
  color: white;
}
.missing-if-branch .typ, .skip-if-branch .typ {
  color: inherit !important;
}
.coverage-summary {
  border-collapse: collapse;
  width: 100%;
}
.coverage-summary tr { border-bottom: 1px solid #bbb; }
.keyline-all { border: 1px solid #ddd; }
.coverage-summary td, .coverage-summary th { padding: 10px; }
.coverage-summary tbody { border: 1px solid #bbb; }
.coverage-summary td { border-right: 1px solid #bbb; }
.coverage-summary td:last-child { border-right: none; }
.coverage-summary th {
  text-align: left;
  font-weight: normal;
  white-space: nowrap;
}
.coverage-summary th.file { border-right: none !important; }
.coverage-summary th.pct { }
.coverage-summary th.pic,
.coverage-summary th.abs,
.coverage-summary td.pct,
.coverage-summary td.abs { text-align: right; }
.coverage-summary td.file { white-space: nowrap;  }
.coverage-summary td.pic { min-width: 120px !important;  }
.coverage-summary tfoot td { }

.coverage-summary .sorter {
  height: 10px;
  width: 7px;
  display: inline-block;
  margin-left: 0.5em;
  background: url(sort-arrow-sprite.png) no-repeat scroll 0 0 transparent;
}
html.dark .coverage-summary .sorter {
  filter: invert(1) !important;
}
.coverage-summary .sorted .sorter {
  background-position: 0 -20px;
}
.coverage-summary .sorted-desc .sorter {
  background-position: 0 -10px;
}
.status-line {  height: 10px; }
/* yellow */
.cbranch-no { background: yellow !important; color: #111; }
/* dark red */
.red.solid, .status-line.low, .low .cover-fill { background:#C21F39 }
.low .chart { border:1px solid #C21F39 }
.highlighted,
.highlighted .cstat-no, .highlighted .fstat-no, .highlighted .cbranch-no{
  background: #C21F39 !important;
}
/* medium red */
.cstat-no, .fstat-no, .cbranch-no, .cbranch-no { background:#F6C6CE }
/* light red */
.low, .cline-no { background:#FCE1E5 }
/* light green */
.high, .cline-yes { background:rgb(230,245,208) }
/* medium green */
.cstat-yes { background:rgb(161,215,106) }
/* dark green */
.status-line.high, .high .cover-fill { background:rgb(77,146,33) }
.high .chart { border:1px solid rgb(77,146,33) }
/* dark yellow (gold) */
.status-line.medium, .medium .cover-fill { background: #f9cd0b; }
.medium .chart { border:1px solid #f9cd0b; }
/* light yellow */
.medium { background: #fff4c2; }

.cstat-skip { background: #ddd; color: #111; }
.fstat-skip { background: #ddd; color: #111 !important; }
.cbranch-skip { background: #ddd !important; color: #111; }

span.cline-neutral { background: #eaeaea; }

.coverage-summary td.empty {
  opacity: .5;
  padding-top: 4px;
  padding-bottom: 4px;
  line-height: 1;
  color: #888;
}

.cover-fill, .cover-empty {
  display:inline-block;
  height: 12px;
}
.chart {
  line-height: 0;
}
.cover-empty {
  background: white;
}
.cover-full {
  border-right: none !important;
}
pre.prettyprint {
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
}
.com { color: #999 !important; }
.ignore-none { color: #999; font-weight: normal; }

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -48px;
}
.footer, .push {
  height: 48px;
}

html.dark pre {
  font: 12px/1.4 Consolas, "Liberation Mono", Menlo, Courier, monospace;
  margin: 0;
  padding: 0;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  background: #263238; /* Blue Grey Darken-2 */
  color: #cfd8dc; /* Blue Grey Lighten-3 */
}

html.dark .fraction {
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 10px;
  color: #90a4ae; /* Blue Grey Lighten-2 */
  background: #263238; /* Blue Grey */
  padding: 4px 5px;
  border-radius: 3px;
  vertical-align: middle;
}

html.dark div.path a:link,
html.dark div.path a:visited {
  color: #cfd8dc; /* Blue Grey Lighten-3 */
}

html.dark table.coverage {
  border-collapse: collapse;
  margin: 10px 0 0 0;
  padding: 0;
  background: #263238; /* Blue Grey */
  color: #cfd8dc; /* Blue Grey Lighten-3 */
}

html.dark .missing-if-branch {
  display: inline-block;
  margin-right: 5px;
  border-radius: 3px;
  position: relative;
  padding: 0 4px;
  background: #37474f; /* Blue Grey Darken-2 */
  color: #f9a825; /* Yellow Darken-2 */
}

html.dark .skip-if-branch {
  display: none;
  margin-right: 10px;
  position: relative;
  padding: 0 4px;
  background: #546e7a; /* Blue Grey Darken-1 */
  color: #fff;
}

html.dark .coverage-summary tr {
  border-bottom: 1px solid #455a64; /* Blue Grey Darken-3 */
}

html.dark .keyline-all {
  border: 1px solid #455a64; /* Blue Grey Darken-3 */
}

html.dark .coverage-summary tbody {
  border: 1px solid #455a64; /* Blue Grey Darken-3 */
}

html.dark .coverage-summary td {
  border-right: 1px solid #455a64; /* Blue Grey Darken-3 */
}

html.dark .cbranch-no {
  background: #935b00 !important; /* Yellow Darken-2 */
  color: #000;
}

html.dark .red.solid,
html.dark .status-line.low,
html.dark .low .cover-fill {
  background: #e57373; /* Red Lighten-2 */
}

html.dark .low .chart {
  border: 1px solid #e57373; /* Red Lighten-2 */
}

html.dark .highlighted,
html.dark .highlighted .cstat-no,
html.dark .highlighted .fstat-no,
html.dark .highlighted .cbranch-no {
  background: #e57373; /* Red Lighten-2 */
}

html.dark .cstat-no,
html.dark .fstat-no,
html.dark .cbranch-no,
html.dark .cbranch-no {
  background: #ff8a6547; /* Deep Orange Lighten-2 */
}

html.dark .low,
html.dark .cline-no {
  background: #900017; /* Brown Lighten-3 */
}

html.dark .high,
html.dark .cline-yes {
  background: #356400; /* Light Green */
}

html.dark .cstat-yes {
  background: #a5d6a7; /* Green Lighten-2 */
}

html.dark .status-line.high,
html.dark .high .cover-fill {
  background: #81c784; /* Light Green Lighten-2 */
}

html.dark .medium,
html.dark .status-line.medium,
html.dark .medium .cover-fill {
  background: #9b7600; /* Amber Lighten-2 */
}

html.dark .cstat-skip {
  background: #90a4ae; /* Blue Grey Lighten-2 */
  color: #000;
}

html.dark .fstat-skip {
  background: #90a4ae; /* Blue Grey Lighten-2 */
  color: #000 !important;
}

html.dark .cbranch-skip {
  background: #90a4ae; /* Blue Grey Lighten-2 */
  color: #000;
}

html.dark span.cline-neutral {
  background: #37474f; /* Blue Grey Darken-2 */
}

html.dark .coverage-summary td.empty {
  opacity: .5;
  padding-top: 4px;
  padding-bottom: 4px;
  line-height: 1;
  color: #90a4ae; /* Blue Grey Lighten-2 */
}

html.dark .cover-empty {
  background: #fff; /* White */
}

html.dark pre.prettyprint {
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
  background: #263238; /* Blue Grey */
  color: #cfd8dc; /* Blue Grey Lighten-3 */
}

html.dark .com {
  color: #546e7a !important; /* Blue Grey */
}

html.dark .ignore-none {
  color: #546e7a;
  font-weight: normal;
}
