/**
 * Colors
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-brand-1: #52730d;
  --vp-c-brand-2: #57791b;
  --vp-c-brand-3: #506e10;
  --vp-c-sponsor: #ca2971;
  --vitest-c-sponsor-hover: #c13071;
}

.dark {
  --vp-c-brand-1: #add467;
  --vp-c-brand-2: #a7cc66;
  --vp-c-brand-3: #acd268;
  --vp-c-sponsor: #ee4e95;
  --vitest-c-sponsor-hover: #e51370;
}


/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */
:root {
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
  --vp-custom-block-danger-code-bg: #a79fa029;
  --vitest-custom-block-tip-code-text: #4a680c;
  --vitest-custom-block-info-code-text: #394f0c
}

.dark {
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
  --vp-custom-block-danger-code-bg: #6c6a6a2b;
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */
.dark {
  --vp-button-brand-text: #243600;
  --vp-button-brand-active-text: #243600;
  --vp-button-brand-hover-text: #243600;
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

 :root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #86b91a 30%,
    #edd532
  );
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #86b91a60 30%,
    #edd53260
  );
  --vp-home-hero-image-filter: blur(30px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}


/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand) !important;
}

.vp-sponsor-grid.big .vp-sponsor-grid-image {
  max-height: 96px;
}

.vp-sponsor-grid.mini .vp-sponsor-grid-image[alt='Bit'] {
  max-height: 48px;
}

.vp-sponsor-grid.big .vp-sponsor-grid-image[alt='Vite'] {
  max-height: 65px;
}

.vp-sponsor-grid.big .vp-sponsor-grid-image[alt='Zammad'] {
  max-height: 74px;
}
