/**
 * Colors
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-accent: #dab40b;
  --vp-c-brand: #6da13f;
  --vp-c-brand-light: #7ec242;
  --vp-c-brand-lighter: #93d31c;
  --vp-c-brand-dark: #668d11;
  --vp-c-brand-darker: #52730d;
  --vp-c-text-code: #5d6f5d;
  --vp-code-block-bg: rgba(125, 125, 125, 0.06);
  --vp-code-block-hover-bg: rgba(125, 125, 125, 0.1);
  /* fix TIP on light: the default one is too light (2 in contrast) */
  --vp-custom-block-tip-text: rgb(12, 124, 108);
  --vp-custom-block-tip-border: rgba(12, 124, 108, 0.5);
  --vp-custom-block-tip-bg: rgba(18, 181, 157, 0.1);
  /* fix contrast on gray cards: used by --vp-c-text-2 */
  --vp-c-text-light-2: rgba(56 56 56 / 70%);
  --vp-code-copy-code-bg: initial;
  --vp-code-copy-code-hover-bg: var(--vp-custom-block-details-text);
}

.dark {
  --vp-code-block-bg: rgba(0,0,0,0.2);
  --vp-c-text-code: #c0cec0;
  /* fix TIP: check the same above (these are the defaults) */
  --vp-custom-block-tip-text: rgb(18, 181, 157);
  --vp-custom-block-tip-border: rgba(18, 181, 157, 0.5);
  --vp-custom-block-tip-bg: rgba(18, 181, 157, 0.1);
  /* fix contrast on gray cards: check the same above (this is the default) */
  --vp-c-text-dark-2: rgba(235, 235, 235, 0.60);
  --vp-code-copy-code-bg: initial;
  --vp-code-copy-code-hover-bg: rgba(255, 255, 255, 0.05);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: var(--vp-c-text-dark-1);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-c-text-dark-1);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-text-dark-1);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

 :root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #86b91a 30%,
    #edd532
  );
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #86b91a60 30%,
    #edd53260
  );
  --vp-home-hero-image-filter: blur(30px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}


/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand) !important;
}
