name: Issue Close Require

on:
  schedule:
    - cron: '0 0 * * *'

jobs:
  close-issues:
    runs-on: ubuntu-latest
    permissions:
      issues: write # for actions-cool/issues-helper to update issues
    steps:
      - name: needs reproduction
        uses: actions-cool/issues-helper@9861779a695cf1898bd984c727f685f351cfc372 # v3.7.2
        with:
          actions: close-issues
          token: ${{ secrets.GITHUB_TOKEN }}
          labels: needs reproduction
          inactive-day: 3
