name: Publish Package

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write
  id-token: write

env:
  VITEST_GENERATE_UI_TOKEN: 'true'
  VITE_TEST_WATCHER_DEBUG: 'false'

jobs:
  publish:
    if: github.repository == 'vitest-dev/vitest'
    runs-on: ubuntu-latest
    environment: Release
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: Set node version to 20
        uses: actions/setup-node@v6
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/
          cache: pnpm

      - name: Install
        run: pnpm install --frozen-lockfile --prefer-offline
        env:
          PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: '1'

      - name: Build
        run: pnpm build

      - name: Publish to npm
        run: npm i -g npm@^11.5.2 && pnpm run publish-ci ${{ github.ref_name }}

      - name: Generate Changelog
        run: npx changelogithub
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
